<template>
  <div>
    <div id="myDiv" style="width:100%;height:100%"></div>
  </div>
</template>

<script>
import Plotly from "plotly.js-dist";
export default {
  props: {
    data: {
      type: Object,
      default() {
        return {
          x: [2, 3, 4],
          y: [3.5, 4, 4.5]
        };
      }
    }
  },
  mounted() {
    this.draw();
  },
  watch: {
    data() {
      this.draw();
    }
  },
  methods: {
    draw() {
      var data = [
        {
          ...this.data,
          type: "scatter"
        }
      ];
      Plotly.newPlot("myDiv", data);
    }
  }
};
</script>
