<template>
  <div>
    <div id="myDiv" style="width:100%;height:100%"></div>
    <!-- <input type="button" v-on:click="draw" value="Draw"> -->
  </div>
</template>

<script>
import Plotly from "plotly.js-dist";
export default {
  props: {
    data: {
      type: Object,
      default() {
        return {
          x: [2, 3, 4],
          y: [3.5, 4, 4.5],
          z: [[5, 8, 4], [2.5, 9.2, 6], [2.8, 5.7, 15]]
        };
      }
    }
  },
  mounted(){
    this.draw();
  },
  watch: {
    data() {
      this.draw();
    }
  },
  methods: {
    draw() {
      var data = [
        {
          ...this.data,
          type: "surface",
          contours: {
            z: {
              show: true,
              usecolormap: true,
              highlightcolor: "#42f462",
              project: { z: true }
            }
          }
        }
      ];

      var layout = {
        title: "Mt Bruno Elevation With Projected Contours",
        scene: { camera: { eye: { x: 1.87, y: 0.88, z: -0.64 } } },
        autosize: false,
        width: 500,
        height: 500,
        margin: {
          l: 65,
          r: 50,
          b: 65,
          t: 90
        }
      };

      Plotly.newPlot("myDiv", data, layout);
    }
  }
};
</script>
