<template>
  <v-alert v-model="alertInfo.showAlert" dismissible :type="alertInfo.alertType">{{alertInfo.alertMessage}}</v-alert>
</template>

<script>
export default {
  props: {
    alertInfo: {
      type: Object,
      default() {
        return {
          showAlert: false,
          alertType: "success",
          alertMessage: "Test message"
        };
      }
    }
  }
};
</script>

