<template>
  <v-container fluid grid-list-md>
    <v-layout row wrap>
      <!-- <label>Enter Y</label> -->
      <v-flex xs12>
        <v-text-field label="Enter Y" hint = "Numbers sepatated with space" outline v-model="textY"></v-text-field>
      </v-flex>
      <!-- <label>Enter X</label> -->
      <v-flex v-for="(stringX, i) in textX" v-bind:key="i" xs12>
        <v-text-field :label="'Enter X' + (i + 1)" hint = "Numbers sepatated with space" outline v-model="textX[i]"></v-text-field>
      </v-flex>
      <v-flex xs12>
        <div class="text-xs-center">
          <v-btn color="success" v-on:click.native="addXRow">Add X row</v-btn>
          <v-btn color="error" v-on:click.native="removeLastXRow">Remove last X row</v-btn>
        </div>
      </v-flex>
      <v-flex xs12>
        <v-tabs v-model="activeTab" color="cyan" dark slider-color="yellow">
          <v-tab v-for="element in tableElements" :key="element">{{element}}</v-tab>
          <v-tab-item v-for="element in tableElements" :key="element">
            <v-card flat>
              <InputTabPage
                v-on:draw2DChart="draw2DChart"
                :modelData="{modelType: element, Y: textY, X: textX}"
              />
            </v-card>
          </v-tab-item>
          <v-tab>polynomial</v-tab>
          <v-tab-item>
            <v-card flat>
              <InputTabPagePolynomial
                v-on:draw2DChart="draw2DChart"
                :modelData="{ Y: textY, X: textX}"
              />
            </v-card>
          </v-tab-item>
        </v-tabs>
      </v-flex>
      <v-flex xs10 offset-xs1>
          <AlertComponent :alertInfo="alertProperties"/>
          <GChart type="LineChart" :data="googleChartData"/>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import InputTabPage from "./InputTabPage";
import InputTabPagePolynomial from "./InputTabPagePolynomial";
import AlertComponent from "./AlertComponent";
import { GChart } from "vue-google-charts";
import api from "../api";

export default {
  data() {
    return {
      tableElements: ["linear", "exponential", "degree", "hyperbola", "square"],
      textY: "2 8 9",
      textX: ["4 8 2", "7 8 9"],
      result2DChart: {
        y: [1, 2, 3],
        x1Data: [3, 4, 5],
        x1Index: null
      },
      result3DChart: {
        Y: [],
        x1Data: [],
        x2Data: []
      },
      activeTab: 0,
      alertProperties: {
        showAlert: false,
        alertType: "success",
        alertMessage: " "
      }
    };
  },
  computed: {
    items() {
      return this.textX.map((_, i) => ({ text: "x" + (i + 1), value: i }));
    },
    chart3Ddata() {
      return {
        x: this.result3DChart.x1Data,
        y: this.result3DChart.x2Data,
        z: Array(50)
          .fill(undefined)
          .map((x, i) =>
            Array(50)
              .fill(undefined)
              .map((y, j) => this.result3DChart.Y[i * 50 + j])
          )
      };
    },
    googleChartData() {
      return [
        ["x", "y"],
        ...this.result2DChart.x1Data.map((x, i) => [x, this.result2DChart.y[i]])
      ];
    }
  },
  components: {
    InputTabPage,
    InputTabPagePolynomial,
    GChart,
    AlertComponent
  },
  methods: {
    addXRow() {
      this.textX.push("");
    },
    removeLastXRow() {
      this.textX.pop();
    },
    draw2DChart(event) {
      var self = this;
      api
        .jsonWithAuth(`${event.model}2dchart`, event.chartData)
        .then(data => {
          this.result2DChart = data;
        })
        .catch(function(error) {
          (self.alertProperties.showAlert = true),
            (self.alertProperties.alertType = "error"),
            (self.alertProperties.alertMessage =
              "Chart build error, you need to be logged in to buid charts.");
        });
    },
    linear3DChart() {
      api
        .jsonWithAuth(`${event.model}3dchart`, {
          baseXData: this.textX.map(row =>
            row.split(" ").map(e => parseFloat(e))
          ),
          regressionCoef: this.result.regressionCoef,
          x1Index: this.firstChartX + 1,
          x2Index: this.secondChartX + 1,
          property: this.xProperty
        })
        .then(data => {
          this.result3DChart = data;
        });
    }
  }
};
</script>
