<template>
  <div>
    <v-layout row>
      <v-flex xs2>
        <v-btn color="success" v-on:click.native="calculateModel">Polynomial model</v-btn>
      </v-flex>
      <v-flex xs2>
        <v-select :items="selectDegreeItems" v-model="selectedPolynomialDegree"></v-select>
      </v-flex>
      <v-flex xs8>
        <v-text-field label="Equation" solo v-model="result.regression_equation"></v-text-field>
      </v-flex>
    </v-layout>
    <v-layout row>
      <v-flex xs2>
        <div class="text-xs-center">
          <v-chip color="green" text-color="white">r = </v-chip>
        </div>
      </v-flex>
      <v-flex xs4>
        <v-text-field label="r" solo v-model="result.korrelation"></v-text-field>
      </v-flex>
    </v-layout>
    <v-container>
      <v-layout row>
        <v-flex xs4>
          <v-btn color="success" v-on:click.native="draw2DChart">2D chart</v-btn>
          <br>
          <v-btn color="success" v-on:click.native="draw3DChart">3D chart</v-btn>
        </v-flex>
        <v-flex xs4>
          <v-select :items="items" label="Solo field" solo v-model="firstChartX"></v-select>
          <v-select :items="items" label="Solo field" solo v-model="secondChartX"></v-select>
        </v-flex>
        <v-flex xs4>
          <v-radio-group v-model="xProperty">
            <v-radio label="Max" value="max"></v-radio>
            <v-radio label="Avg" value="avg"></v-radio>
            <v-radio label="Min" value="min"></v-radio>
          </v-radio-group>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import api from "../api";

export default {
  props: {
    modelData: {
      type: Object,
      default() {
        return {
          Y: "",
          X: ""
        };
      }
    }
  },
  data() {
    return {
      result: {
        regression_equation: null
      },
      firstChartX: 0,
      secondChartX: 0,
      xProperty: "avg",
      selectDegreeItems: ["1", "2", "3", "4", "5", "6"],
      selectedPolynomialDegree: 1
    };
  },
  computed: {
    items() {
      return this.modelData.X.map((_, i) => ({
        text: "x" + (i + 1),
        value: i
      }));
    }
  },
  methods: {
    calculateModel() {
      api
        .json(`polynomialmodel`, {
          baseYData: this.modelData.Y.split(" ").map(e => parseFloat(e)),
          baseXData: this.modelData.X.map(row =>
            row.split(" ").map(e => parseFloat(e))
          ),
          polynomialDegree: parseFloat(this.selectedPolynomialDegree)
        })
        .then(data => {
          this.result = data;
          this.$emit("solved", this.result);
        });
    },
    draw2DChart() {
      this.$emit("draw2DChart", {
        model: "polynomial",
        chartData: {
          baseXData: this.modelData.X.map(row =>
            row.split(" ").map(e => parseFloat(e))
          ),
          regressionCoef: this.result.regressionCoef,
          x1Index: this.firstChartX + 1,
          property: this.xProperty,
          polynomialDegree: parseFloat(this.selectedPolynomialDegree)
        }
      });
    }
  }
};
</script>
