<template>
  <v-layout row justify-end>
    <div v-if="loginShow">
      <v-dialog v-model="dialog" persistent max-width="500px">
        <template v-slot:activator="{ on }">
          <v-btn color="primary" dark v-on="on">Login</v-btn>
        </template>
        <v-card>
          <v-card-title>
            <span class="headline">Login form</span>
          </v-card-title>
          <v-card-text>
            <v-container grid-list-md>
              <v-flex xs12>
                <v-text-field solo label="username" required v-model="username"></v-text-field>
              </v-flex>
              <v-flex xs12>
                <v-text-field type="password" solo label="password" required v-model="password"></v-text-field>
              </v-flex>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" flat v-on:click="dialog = false">Close</v-btn>
            <v-btn color="blue darken-1" flat v-on:click="login">Login</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-dialog v-model="registrationDialog" persistent max-width="500px">
        <template v-slot:activator="{ on }">
          <v-btn color="primary" dark v-on="on">Register</v-btn>
        </template>
        <v-card>
          <v-card-title>
            <span class="headline">Regisrtration form</span>
          </v-card-title>
          <v-card-text>
            <v-container grid-list-md>
              <v-flex xs12>
                <v-text-field solo label="username" required v-model="registrationInfo.Name"></v-text-field>
              </v-flex>
              <v-flex xs12>
                <v-text-field
                  type="password"
                  solo
                  label="password"
                  required
                  v-model="registrationInfo.Password"
                ></v-text-field>
              </v-flex>
              <v-flex xs12>
                <v-text-field
                  type="password"
                  solo
                  label="confirm password"
                  required
                  v-model="registrationInfo.ConfirmPassword"
                ></v-text-field>
              </v-flex>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" flat v-on:click="registrationDialog = false">Close</v-btn>
            <v-btn color="blue darken-1" flat v-on:click="registration">Registration</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </div>
    <v-layout v-else row justify-end>
      <div class="text-xs-center">
        <v-chip label color="light-grey">{{user.name}}</v-chip>
      </div>
      <v-btn color="primary" dark v-on:click="logout">Logout</v-btn>
    </v-layout>
  </v-layout>
</template>


<script>
import api from "../api";

export default {
  data() {
    return {
      username: "",
      password: "",
      dialog: false,
      registrationDialog: false,
      loginShow: true,
      registrationDialogShow: true,
      user: {
        name: sessionStorage.getItem("username")
      },
      registrationInfo: {
        Name: "",
        Password: "",
        ConfirmPassword: ""
      },
      alertProperties: {
        alertType: " ",
        alertMessage: " "
      }
    };
  },
  mounted() {
    this.checkLoginStatus();
  },
  methods: {
    registration() {
      var self = this;
      api
        .json("register", this.registrationInfo, {
          root: process.env.VUE_APP_API_URL
        })
        .then(function() {
          self.registrationDialog = false;
          self.$emit("actionAlert", {
            alertType: "success",
            alertMessage: "Registration succesfull"
          });
        })
        .catch(function() {
          self.$emit("actionAlert", {
            alertType: "error",
            alertMessage: "Registration error"
          });
          self.registrationDialog = false;
        });
    },
    login() {
      var self = this;
      api
        .json(
          "token",
          {
            Name: this.username,
            Password: this.password
          },
          {
            root: process.env.VUE_APP_API_URL
          }
        )
        .then(data => {
          sessionStorage.setItem("user-token", data.access_token);
          sessionStorage.setItem("username", data.username);
          this.user.name = sessionStorage.getItem("username");
          self.$emit("actionAlert", {
            alertType: "success",
            alertMessage: "Login succesfull"
          });
          this.dialog = !this.dialog;
          this.loginShow = !this.loginShow;
        })
        .catch(function() {
          self.$emit("actionAlert", {
            alertType: "error",
            alertMessage: "Login error"
          });
          self.dialog = false;
        });
    },
    logout() {
      sessionStorage.clear();
      this.loginShow = !this.loginShow;
      this.$emit("actionAlert", {
        alertType: "success",
        alertMessage: "Logged out"
      });
    },
    checkLoginStatus() {
      if (sessionStorage.getItem("username")) {
        this.loginShow = false;
      }
    }
  }
};
</script>
