<template>
  <v-app>
    <v-toolbar app>
      <v-toolbar-title class="headline text-uppercase">
        <span>Regression</span>
        <span class="font-weight-light">For All</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <LoginForm v-on:actionAlert="setAlertProperties"></LoginForm>
    </v-toolbar>
    <v-content>
      <AlertComponent :alertInfo="alertProps"/>
      <InputData />
    </v-content>
  </v-app>
</template>

<script>
import InputData from "./components/InputData";
import LoginForm from "./components/LoginForm";
import AlertComponent from "./components/AlertComponent";

export default {
  name: "App",
  components: {
    InputData,
    LoginForm,
    AlertComponent
  },
  data() {
    return {
      alertProperties: {
        showAlert: false,
        alertType: "success",
        alertMessage: "Test message"
      }
      //
    };
  },
  computed: {
    alertProps() {
      return this.alertProperties;
    }
  },
  methods: {
    setAlertProperties(event) {
      this.alertProperties.alertType = event.alertType;
      this.alertProperties.alertMessage = event.alertMessage;
      this.alertProperties.showAlert = true;
    }
  }
};
</script>
